In [6]:
import pandas as pd
import numpy as np

In [8]:
data= pd.read_csv("cost_revenue.csv")

In [10]:
data.describe()

       production_budget_usd  worldwide_gross_usd
count           5.034000e+03         5.034000e+03
mean            3.290784e+07         9.515685e+07
std             4.112589e+07         1.726012e+08
min             1.100000e+03         2.600000e+01
25%             6.000000e+06         7.000000e+06
50%             1.900000e+07         3.296202e+07
75%             4.200000e+07         1.034471e+08
max             4.250000e+08         2.783919e+09

In [14]:
data.isna().sum()

production_budget_usd    0
worldwide_gross_usd      0
dtype: int64

In [15]:
data.info

<bound method DataFrame.info of       production_budget_usd  worldwide_gross_usd
0                   1000000                   26
1                     10000                  401
2                    400000                  423
3                    750000                  450
4                     10000                  527
...                     ...                  ...
5029              225000000           1519479547
5030              215000000           1671640593
5031              306000000           2058662225
5032              200000000           2207615668
5033              425000000           2783918982

[5034 rows x 2 columns]>

In [17]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5029    False
5030    False
5031    False
5032    False
5033    False
Length: 5034, dtype: bool

In [18]:
data.head()

   production_budget_usd  worldwide_gross_usd
0                1000000                   26
1                  10000                  401
2                 400000                  423
3                 750000                  450
4                  10000                  527

In [19]:
data.tail()

      production_budget_usd  worldwide_gross_usd
5029              225000000           1519479547
5030              215000000           1671640593
5031              306000000           2058662225
5032              200000000           2207615668
5033              425000000           2783918982

### This are the steps followed to clean my dataset

1. Import the pandas module
2. check for missing vallues using isna() function
3. call .sum() on the isna to calculate the number of missing value
4. i also check for the duplicated entry